<!DOCTYPE html>
<html lang="en">
{% include 'static/head.html' %}

<body>
	{% include 'static/header.html' %}

	<div class="container std-container">
		<h3>
			<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
			<a href="{% url 'feeds:profile' post.author.id %}">{{ post.author.username }}</a> shouted out:
		</h3>
		<div class="pull-right">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-primary btn-lg" href="{% url 'feeds:like' post.id %}">
					<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				</a>
			{% if is_author %}
				<button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target=".edit-post">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</button>

			{% endif %}
			</div>
			<div class="modal fade edit-post" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Edit post</h4>
						</div>
						<form action="{% url 'feeds:edit_post' post.id %}" method="post">
						{% csrf_token %}
							<div class="modal-body">
								<div class="form-group">
									<textarea name="content" class="form-control">{{ post.content }}</textarea>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Save changes</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<blockquote class="well">
			<p><em>"{{ post.content }}"</em></p>
			<footer>on <em>{{ post.post_date }}</em></footer>
			{% if likers_count > 0 %}
				<p>
					<a href="{% url 'feeds:likers' post.id %}">{{ likers_count }} like{{ likers_count|pluralize }}</a>
				</p>
			{% endif %}
		</blockquote>
		<form action="{% url 'feeds:comment' post.id %}" method="post">
		{% csrf_token %}
			<textarea name="content" class="form-control" rows="2" required placeholder="What do you think...?"></textarea>
			<button type="submit" class="btn btn-default btn-sm">Comment</button>
		</form>
		<div id="comments" class="well">
			<h4>Comments</h4>
			<ul class="list-group">
				{% for comment in comments %}
					<li class="list-group-item">
						<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
						<a href="{% url 'feeds:profile' comment.author.id %}">{{ comment.author }}</a>: 
						<em>{{ comment.content }}</em>
					</li>
				{% empty %}
					<p>Be the first to comment!</p>
				{% endfor %}
			</ul>
		</div>
	</div>


	{% include 'static/footer.html' %}
</body>

{% include 'static/scripts.html' %}