<!DOCTYPE html>
<html lang="en">
{% include 'static/head.html' %}

<body>
	{% include 'static/header.html' %}

	<div class="container std-container">
		<h4>Edit profile</h4>
		<form action="{% url 'feeds:edit_profile' %}" method="post" class="form-horizontal">
		{% csrf_token %}
			<div class="form-group">
				<label for="username" class="col-sm-3 control-label">Username</label>
				<div class="col-sm-9">
					<input type="text" name="username" id="username" class="form-control" required placeholder="Enter username..." disabled value="{{ session_user.username }}" />
				</div>
			</div>
			<div class="form-group">
				<label for="firstname" class="col-sm-3 control-label">First Name</label>
				<div class="col-sm-9">
					<input type="text" name="firstname" id="firstname" class="form-control" required placeholder="Enter first name..." value="{{ session_user.first_name }}" />
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-3 control-label">Last Name</label>
				<div class="col-sm-9">
					<input type="text" name="lastname" id="lastname" class="form-control" required placeholder="Enter last name..." value="{{ session_user.last_name }}" />
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-3 control-label">Email Address</label>
				<div class="col-sm-9">
					<input type="email" name="email" id="email" class="form-control" required placeholder="Enter email address..." value="{{ session_user.email }}" />
				</div>
			</div>
			<div class="form-group">
				<label for="birthdate" class="col-sm-3 control-label">Birthdate</label>
				<div class="col-sm-9">
					<input type="date" name="birthdate" id="birthdate" class="form-control" required placeholder="Enter email address..." value="{{ session_user.email }}" />
				</div>
			</div>
			<div class="form-group">
				<label for="bio" class="col-sm-3 control-label">Bio (Description)</label>
				<div class="col-sm-9">
					<textarea name="bio" id="bio" class="form-control" rows="4" required placeholder="Let me know a description, or two, about yourself..."></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="prof_pic" class="col-sm-3 control-label">Profile Picture</label>
				<div class="col-sm-9">
					<input type="file" name="prof_pic" id="prof_pic" class="form-control" required placeholder="Enter email address..." value="{{ session_user.email }}" />
				</div>
			</div>
			<div class="form-group">
				<label for="gender" class="col-sm-3 control-label">Gender</label>
				<div class="col-sm-9">
					<div class="radio">
						<label>
							<input type="radio" name="gender" id="gender" checked /> Male
						</label>
						<label>
							<input type="radio" name="gender" id="gender" /> Female
						</label>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary pull-right">Set</button>
		</form>
	</div>

	{% include 'static/footer.html' %}
</body>

{% include 'static/scripts.html' %}