<!DOCTYPE html>
<html lang="en">
{% include 'static/head.html' %}

<body>
	{% include 'static/header.html' %}

	<div class="container std-container">
		<h4>Edit profile</h4>
		{% include 'static/errorflash.html' %}
		<form action="{% url 'feeds:edit_profile' %}" method="post" class="form-horizontal" enctype="multipart/form-data">
		{% csrf_token %}
			{{ profile_edit_form.user_id }}
			<div class="form-group">
				<label for="username" class="col-sm-3 control-label">Username</label>
				<div class="col-sm-9">
					{{ user_edit_form.username }}
				</div>
			</div>
			<div class="form-group">
				<label for="firstname" class="col-sm-3 control-label">First Name</label>
				<div class="col-sm-9">
					{{ user_edit_form.first_name }}
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-3 control-label">Last Name</label>
				<div class="col-sm-9">
					{{ user_edit_form.last_name }}
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-3 control-label">Email Address</label>
				<div class="col-sm-9">
					{{ user_edit_form.email }}
				</div>
			</div>
			<div class="form-group">
				<label for="birthdate" class="col-sm-3 control-label">Birthdate</label>
				<div class="col-sm-9">
					{{ profile_edit_form.birthdate }}
				</div>
			</div>
			<div class="form-group">
				<label for="bio" class="col-sm-3 control-label">Bio (Description)</label>
				<div class="col-sm-9">
					{{ profile_edit_form.bio }}
				</div>
			</div>
			<div class="form-group">
				<label for="prof_pic" class="col-sm-3 control-label">Profile Picture</label>
				<div class="col-sm-9">
					{{ profile_edit_form.prof_pic }}
				</div>
			</div>
			<div class="form-group">
				<label for="gender" class="col-sm-3 control-label">Gender</label>
				<div class="col-sm-9">
					<div class="radio">
						{{ profile_edit_form.gender }}
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary pull-right">Submit</button>
		</form>
	</div>

	{% include 'static/footer.html' %}
	{% include 'static/scripts.html' %}
</body>

</html>