<!DOCTYPE html>
<html lang="en">
{% include 'static/head.html' %}

<body>
	{% include 'static/header.html' %}

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<form action="{% url 'feeds:post' %}" method="post">
				{% csrf_token %}
					<div class="form-group">
						<textarea name="content" class="form-control" rows="7" required placeholder="Write something inspirational..."></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Shout Out!</button>
				</form>
			</div>
			<div class="col-md-8">
			{% for p in latest_posts %}
				<blockquote>
					<p>
						<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
						<em> "{{ p.content }}" <span><a href="{% url 'feeds:detail' p.id %}">See more...</a></span></em>
					</p>
					<footer>
						<em>
							<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
							<a href="{% url 'feeds:profile' p.author.id %}">{{ p.author.username }}</a>'s shoutout on {{ p.post_date }}</em>
					</footer>
				</blockquote>
			{% empty %}
				<li>Sorry, no posts available yet.</li>
			{% endfor %}
			</div>
		</div>
	</div>

	{% include 'static/footer.html' %}
</body>

{% include 'static/scripts.html' %}
</html>