{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
{% include 'static/head.html' %}

<body>
	{% include 'static/header.html' %}

	<div class="container std-container">
		<div class="row">
			<div class="col-md-4">
				<h2>Hello, <a href="{% url 'feeds:profile' session_user.user.username %}"><em>@{{ session_user.user.username }}</em></a>!</h2>
				<div>
					<form action="{% url 'feeds:post' %}" method="post">
					{% csrf_token %}
						<div class="form-group">
							{{ shoutout_form.content }}
						</div>
						{{ shoutout_form.author }}
						<button type="submit" class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> Shout Out!
						</button>
					</form>
				</div>
			</div>
			<div class="col-md-8">
			{% include 'static/errorflash.html' %}
			{% include 'static/postwall.html' %}
			</div>
		</div>
	</div>

	{% include 'static/footer.html' %}
	{% include 'static/scripts.html' %}
</body>

</html>
