<!DOCTYPE html>
<html lang="en">
{% include 'static/head.html' %}

<body>
	{% include 'static/header.html' %}

	<div class="container std-container">
		<div class="page-header">
			<h1>@{{ profile.user.username }} | <small><em>{{ profile.user.first_name }} {{ profile.user.last_name }}</em></small></h1>
		</div>
		<ul class="list-group">
			{% include 'static/errorflash.html' %}
			{% include 'static/postwall.html' %}
		</ul>
	</div>
	
	{% include 'static/footer.html' %}
	{% include 'static/scripts.html' %}
</body>

</html>
